apiVersion: spring.azure.upbound.io/v1beta1
kind: CloudApplicationLiveView
metadata:
  annotations:
    meta.upbound.io/example-id: spring/v1beta1/cloudapplicationliveview
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    springCloudServiceIdSelector:
      matchLabels:
        testing.upbound.io/example-name: example

---

apiVersion: azure.upbound.io/v1beta1
kind: ResourceGroup
metadata:
  annotations:
    meta.upbound.io/example-id: spring/v1beta1/cloudapplicationliveview
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    location: West Europe

---

apiVersion: appplatform.azure.upbound.io/v1beta2
kind: SpringCloudService
metadata:
  annotations:
    meta.upbound.io/example-id: spring/v1beta1/cloudapplicationliveview
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    location: West Europe
    resourceGroupNameSelector:
      matchLabels:
        testing.upbound.io/example-name: example
    skuName: E0
