apiVersion: cognitiveservices.azure.upbound.io/v1beta1
kind: Deployment
metadata:
  annotations:
    meta.upbound.io/example-id: cognitiveservices/v1beta1/deployment
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    cognitiveAccountIdSelector:
      matchLabels:
        testing.upbound.io/example-name: example
    model:
    - format: OpenAI
      name: text-embedding-ada-002
      version: "2"
    scale:
    - type: Standard

---
apiVersion: cognitiveservices.azure.upbound.io/v1beta1
kind: Account
metadata:
  annotations:
    meta.upbound.io/example-id: cognitiveservices/v1beta1/deployment
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    kind: OpenAI
    location: West Europe
    resourceGroupNameSelector:
      matchLabels:
        testing.upbound.io/example-name: example
    skuName: S0

---
apiVersion: azure.upbound.io/v1beta1
kind: ResourceGroup
metadata:
  annotations:
    meta.upbound.io/example-id: cognitiveservices/v1beta1/deployment
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    location: West Europe
