apiVersion: compute.azure.upbound.io/v1beta1
kind: GalleryApplication
metadata:
  annotations:
    meta.upbound.io/example-id: compute/v1beta1/galleryapplication
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    galleryIdSelector:
      matchLabels:
        testing.upbound.io/example-name: example
    location: West Europe
    supportedOsType: Linux

---

apiVersion: azure.upbound.io/v1beta1
kind: ResourceGroup
metadata:
  annotations:
    meta.upbound.io/example-id: compute/v1beta1/galleryapplication
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    location: West Europe

---

apiVersion: compute.azure.upbound.io/v1beta2
kind: SharedImageGallery
metadata:
  annotations:
    meta.upbound.io/example-id: compute/v1beta1/galleryapplication
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    location: West Europe
    resourceGroupNameSelector:
      matchLabels:
        testing.upbound.io/example-name: example
