apiVersion: timeseriesinsights.azure.upbound.io/v1beta1
kind: StandardEnvironment
metadata:
  annotations:
    meta.upbound.io/example-id: timeseriesinsights/v1beta1/standardenvironment
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    dataRetentionTime: P30D
    location: West Europe
    resourceGroupNameSelector:
      matchLabels:
        testing.upbound.io/example-name: example
    skuName: S1_1

---

apiVersion: azure.upbound.io/v1beta1
kind: ResourceGroup
metadata:
  annotations:
    meta.upbound.io/example-id: timeseriesinsights/v1beta1/standardenvironment
  labels:
    testing.upbound.io/example-name: example
  name: example
spec:
  forProvider:
    location: West Europe
